body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

h1 {
    margin: 0px;
}

label {
    margin-left: auto;

    #selected-time {
        display:block;
    }
    
    #any-time {
        display:block;
        color: #777;
        font-style: italic;
    }
}

#time-slider {
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 5px;
    height: 8px;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

#time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.2s ease-in-out;
}

#time-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.2s ease-in-out;
}

#time-slider:focus,
#time-slider:active {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#time-slider::-webkit-slider-thumb:focus,
#time-slider::-webkit-slider-thumb:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#time-slider::-moz-range-thumb:focus,
#time-slider::-moz-range-thumb:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#selected-time,
#any-time {
    font-style: italic;
    margin-left: 5px;
    color: #777;
}
